html,
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 16px; /*** 1 Rem = 16px ***/
  background-color: #ededed;
}

/***
Code to control arrow 
animation on CurrentPortfolioTable and 
row color 
***/
.fa-arrow-alt-circle-up:hover,
.fa-arrow-alt-circle-down:hover {
  cursor: pointer;
}

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.rotate.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.red {
  background-color: #ff5544;
}

.green {
  background-color: #44ff44;
}
